/** @mainpage Qore jni Module

    @tableofcontents

    @section jniintro jni Module Introduction

    <img src="java_horizontal_logo.svg" width="192" alt="Java module logo"/>

    The \c jni module integrates %Qore with <b>Java and Kotlin</b> on the JVM. Java and compiled Kotlin APIs can
    be imported and used as %Qore APIs, and Java and Kotlin programs can call %Qore APIs through generated Java
    bindings. The module handles API imports and runtime data conversion between the languages; see
    @ref jni_use_java_in_qoreguide "importing JVM APIs into Qore" and
    @ref jni_typesguide "type conversions".

    The @ref org.qore.jni.QoreURLClassLoader "Qore class loader" generates Java bytecode for %Qore and Python
    language bindings at runtime. A @ref org.qore.jni.compiler.QoreJavaCompiler "custom Java compiler" and the
    \c qjavac and \c qkotlinc command-line helpers support compiling callers of %Qore APIs. See
    @ref jni_dynamic_import_in_java "dynamic API imports" and
    @ref jni_dynamic_imports_compile "compilation".

    JNI 3.0 requires %Qore 3.0 and Java 21 or later.

    Java bytecode generation for dynamic API generation is provided by
    <a href="https://bytebuddy.net/">Byte Buddy</a>.

    @subsection jnikotlin Kotlin Integration

    - <b>Use Kotlin libraries from %Qore.</b> Add compiled Kotlin classes and their runtime dependencies to the
      classpath and import them with the same @ref jniimport "class-loading directives" used for Java APIs.
      Kotlin synthetic methods, companion-object classes, and default-parameter variants are filtered from the
      imported API. Java and Kotlin collections use the @ref jni_java_to_qore "collection type conversions".
    - <b>Call %Qore from Kotlin.</b> Compile Kotlin sources with \c qkotlinc and an installed Kotlin compiler.
      See the @ref jni_kotlin_example "Kotlin interoperability example" and
      @ref jni_dynamic_imports_compile "compilation guide".
    - <b>Evaluate Kotlin scripts from %Qore.</b> Use
      @ref Jni::org::qore::jni::kotlin_eval() "kotlin_eval()" at runtime or the \c kotlin-eval module command
      at parse time. Scripting requires additional Kotlin scripting JARs on the classpath; the
      \c download-kotlin-scripting-jars helper downloads them. Check availability with
      @ref Jni::org::qore::jni::kotlin_scripting_available() "kotlin_scripting_available()", or retry
      initialization after adding JARs with
      @ref Jni::org::qore::jni::kotlin_scripting_retry() "kotlin_scripting_retry()".

    @section jniqlibmodules Qore User Modules
    - @ref accessdataproviderintro "AccessDataProvider" a data provider API for reading
      Microsoft Access databases (.mdb/.accdb format)
    - @ref avrodataproviderintro "AvroDataProvider" a data provider API for reading and
      writing Apache Avro data files
    - @ref busylightdataproviderintro "BusyLightDataProvider" a data provider API for
      BusyLight devices using MQTT messaging
    - @ref cameldataproviderintro "CamelDataProvider" a data provider API for enterprise
      integration patterns using Apache Camel with 300+ connectors
    - @ref emaildataproviderintro "EmailDataProvider" a data provider API for reading
      email messages in EML, MSG, and MBOX formats
    - @ref exceldataproviderintro "ExcelDataProvider" a data provider API to allow reading
      record-based data from Excel spreadsheets
    - @ref flywaydataproviderintro "FlywayDataProvider" a data provider API for database
      schema migration and versioning using Flyway
    - @ref icsdataproviderintro "IcsDataProvider" a data provider API for reading and
      writing ICS (iCalendar) calendar files
    - @ref jasperreportsdataproviderintro "JasperReportsDataProvider" a data provider API
      for generating reports from JasperReports templates in PDF, Excel, HTML, and CSV formats
    - @ref jdbcdataproviderintro "JdbcDataProvider" a data provider API for accessing
      databases via JDBC with schema introspection and SQL query execution
    - @ref jakartajmsdataproviderintro "JakartaJmsDataProvider" a data provider API for
      Jakarta JMS 3.x messaging brokers (ActiveMQ Artemis, TIBCO EMS, IBM MQ, etc.)
    - @ref kafkadataproviderintro "KafkaDataProvider" a data provider API for Kafka messaging
    - @ref mqttdataproviderintro "MqttDataProvider" a data provider API for MQTT messaging
    - @ref odpdataproviderintro "OdpDataProvider" a data provider API for reading and
      writing ODP (OpenDocument Presentation) files used by LibreOffice Impress
    - @ref odsdataproviderintro "OdsDataProvider" a data provider API for reading and
      writing ODS (OpenDocument Spreadsheet) files used by LibreOffice Calc
    - @ref odtdataproviderintro "OdtDataProvider" a data provider API for reading and
      writing ODT (OpenDocument Text) files used by LibreOffice Writer
    - @ref opcuadataproviderintro "OpcUaDataProvider" a data provider API for OPC UA
      connectivity using Eclipse Milo
    - @ref powerpointdataproviderintro "PowerPointDataProvider" a data provider API for
      reading and writing PowerPoint presentations
    - @ref tikadataproviderintro "TikaDataProvider" a data provider API for universal
      content detection and text extraction using Apache Tika
    - @ref vcfdataproviderintro "VcfDataProvider" a data provider API for reading and
      writing vCard (.vcf) contact files
    - @ref visiodataproviderintro "VisioDataProvider" a data provider API for reading
      Visio documents (.vsdx format)
    - @ref worddataproviderintro "WordDataProvider" a data provider API for reading and
      writing Word documents

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires jni @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Jni::org::qore::jni::JavaArray "JavaArray"|a convenience class for using Java Arrays in %Qore
    |@ref Jni::org::qore::jni::QoreInvocationHandler "QoreInvocationHandler"|a convenience class for executing \
        %Qore-language callbacks from Java

    Helper %Qore functions provided by this module:
    |!Function|!Description
    |@ref Jni::org::qore::jni::get_version() "get_version()"|Returns the version of the JNI API
    |@ref Jni::org::qore::jni::get_byte_code() "get_byte_code()"|Returns the dynamically generated Java byte code of \
        the given %Qore class
    |@ref Jni::org::qore::jni::implement_interface() "implement_interface()"|Creates a Java object that implements \
        given interface using an invocation handler
    |@ref Jni::org::qore::jni::invoke() "invoke()"|Invokes a method with the given arguments
    |@ref Jni::org::qore::jni::invoke_nonvirtual() "invoke_nonvirtual()"|Invokes a method with the given arguments \
        in a non-virtual way; meaning that even if the object provided is a child class, the method given in the \
        first argument is executed
    |@ref Jni::org::qore::jni::native_access_option_enabled() "native_access_option_enabled()"|Returns @ref True if \
        native access is enabled for unnamed modules when the JVM was initialized
    |@ref Jni::org::qore::jni::load_class() "load_class()"|Loads a Java class with given name and returns a \
        \c java::lang::Class object
    |@ref Jni::org::qore::jni::new_array() "new_array()"|Creates a @ref Jni::org::qore::jni::JavaArray "JavaArray" \
        object of the given type and size
    |@ref Jni::org::qore::jni::set_save_object_callback() "set_save_object_callback()"|Sets the object lifecycle \
        management callback; see @ref jni_qore_object_lifecycle_managementguide for more information
    |@ref Jni::org::qore::jni::kotlin_eval() "kotlin_eval()"|Evaluates a Kotlin script at runtime and returns the \
        result; requires kotlin-scripting JARs
    |@ref Jni::org::qore::jni::kotlin_scripting_available() "kotlin_scripting_available()"|Returns @ref True if \
        Kotlin scripting is available (kotlin-scripting JARs are in the classpath)
    |@ref Jni::org::qore::jni::kotlin_scripting_retry() "kotlin_scripting_retry()"|Retries Kotlin scripting \
        initialization after loading additional JARs at runtime

    @section jnidocumentation Documentation

    - @anchor jni_examples @subpage jni_examplesguide &mdash; Java, Kotlin, and %Qore interoperability examples
    - @anchor jniinit @subpage jniinitguide
    - @anchor jni_use_java_in_qore @subpage jni_use_java_in_qoreguide &mdash; importing Java and compiled Kotlin APIs
    - @anchor jni_from_java @subpage jni_from_javaguide &mdash; generated bindings and Java/Kotlin compilation
    - @anchor jni_compat @subpage jni_compatguide
    - @anchor jni_types @subpage jni_typesguide
    - @anchor jni_qore_object_lifecycle_management @subpage jni_qore_object_lifecycle_managementguide
    - @anchor jni_thread_stacks @subpage jni_thread_stacksguide
    - @anchor jdbc_driver @subpage jnijdbc_driverguide
    - @anchor jnireleasenotes @subpage jnireleasenotesguide

*/
