/** @mainpage Qore jni Module

    @tableofcontents

    @section jniintro jni Module Introduction

    The \c jni module allows for Java APIs to be used in %Qore as if the Java APIs were %Qore APIs and vice-versa, as
    %Qore APIs can be dynamically imported into Java programs at runtime; additionally a
    @ref org.qore.jni.compiler.QoreJavaCompiler "custom Java compiler" implementation is included that allows for
    building bytecode with the @ref org.qore.jni.QoreURLClassLoader "Qore class loader" that supports dynamic byte
    code generation for %Qore and Python language bindings; see @ref jni_dynamic_import_in_java for more
    information.

    Native API imports and bindings as well as run-time data translations between Java and %Qore and Java and Python
    are supported.

    Java bytecode generation for dynamic API generation is provided by
    <a href="https://bytebuddy.net/">Byte Buddy</a>, an excellent and flexible open-source API for Java bytecode
    generation.

    @section jniqlibmodules Qore User Modules
    - <img src="access-logo.svg" width="28" height="28" alt="AccessDataProvider app icon"/> @ref accessdataproviderintro "AccessDataProvider" a data provider API for reading
      Microsoft Access databases (.mdb/.accdb format)
    - <img src="avro-logo.svg" width="28" height="28" alt="AvroDataProvider app icon"/> @ref avrodataproviderintro "AvroDataProvider" a data provider API for reading and
      writing Apache Avro data files
    - <img src="busylight-logo.svg" width="28" height="28" alt="BusyLightDataProvider app icon"/> @ref busylightdataproviderintro "BusyLightDataProvider" a data provider API for
      BusyLight devices using MQTT messaging
    - <img src="camel-logo.svg" width="28" height="28" alt="CamelDataProvider app icon"/> @ref cameldataproviderintro "CamelDataProvider" a data provider API for enterprise
      integration patterns using Apache Camel with 300+ connectors
    - <img src="email-logo.svg" width="28" height="28" alt="EmailDataProvider app icon"/> @ref emaildataproviderintro "EmailDataProvider" a data provider API for reading
      email messages in EML, MSG, and MBOX formats
    - <img src="excel-logo.svg" width="28" height="28" alt="ExcelDataProvider app icon"/> @ref exceldataproviderintro "ExcelDataProvider" a data provider API to allow reading
      record-based data from Excel spreadsheets
    - <img src="flyway-logo.svg" width="28" height="28" alt="FlywayDataProvider app icon"/> @ref flywaydataproviderintro "FlywayDataProvider" a data provider API for database
      schema migration and versioning using Flyway
    - <img src="ics-logo.svg" width="28" height="28" alt="IcsDataProvider app icon"/> @ref icsdataproviderintro "IcsDataProvider" a data provider API for reading and
      writing ICS (iCalendar) calendar files
    - <img src="jasperreports-logo.svg" width="28" height="28" alt="JasperReportsDataProvider app icon"/> @ref jasperreportsdataproviderintro "JasperReportsDataProvider" a data provider API
      for generating reports from JasperReports templates in PDF, Excel, HTML, and CSV formats
    - <img src="jdbc-dp-logo.svg" width="28" height="28" alt="JdbcDataProvider app icon"/> @ref jdbcdataproviderintro "JdbcDataProvider" a data provider API for accessing
      databases via JDBC with schema introspection and SQL query execution
    - <img src="jms-logo.svg" width="28" height="28" alt="JakartaJmsDataProvider app icon"/> @ref jakartajmsdataproviderintro "JakartaJmsDataProvider" a data provider API for
      Jakarta JMS 3.x messaging brokers (ActiveMQ Artemis, TIBCO EMS, IBM MQ, etc.)
    - <img src="kafka-logo.svg" width="28" height="28" alt="KafkaDataProvider app icon"/> @ref kafkadataproviderintro "KafkaDataProvider" a data provider API for Kafka messaging
    - <img src="mqtt-logo.svg" width="28" height="28" alt="MqttDataProvider app icon"/> @ref mqttdataproviderintro "MqttDataProvider" a data provider API for MQTT messaging
    - <img src="odp-logo.svg" width="28" height="28" alt="OdpDataProvider app icon"/> @ref odpdataproviderintro "OdpDataProvider" a data provider API for reading and
      writing ODP (OpenDocument Presentation) files used by LibreOffice Impress
    - <img src="ods-logo.svg" width="28" height="28" alt="OdsDataProvider app icon"/> @ref odsdataproviderintro "OdsDataProvider" a data provider API for reading and
      writing ODS (OpenDocument Spreadsheet) files used by LibreOffice Calc
    - <img src="odt-logo.svg" width="28" height="28" alt="OdtDataProvider app icon"/> @ref odtdataproviderintro "OdtDataProvider" a data provider API for reading and
      writing ODT (OpenDocument Text) files used by LibreOffice Writer
    - <img src="opc-ua-logo.svg" width="28" height="28" alt="OpcUaDataProvider app icon"/> @ref opcuadataproviderintro "OpcUaDataProvider" a data provider API for OPC UA
      connectivity using Eclipse Milo
    - <img src="powerpoint-logo.svg" width="28" height="28" alt="PowerPointDataProvider app icon"/> @ref powerpointdataproviderintro "PowerPointDataProvider" a data provider API for
      reading and writing PowerPoint presentations
    - <img src="tika-logo.svg" width="28" height="28" alt="TikaDataProvider app icon"/> @ref tikadataproviderintro "TikaDataProvider" a data provider API for universal
      content detection and text extraction using Apache Tika
    - <img src="vcf-logo.svg" width="28" height="28" alt="VcfDataProvider app icon"/> @ref vcfdataproviderintro "VcfDataProvider" a data provider API for reading and
      writing vCard (.vcf) contact files
    - <img src="visio-logo.svg" width="28" height="28" alt="VisioDataProvider app icon"/> @ref visiodataproviderintro "VisioDataProvider" a data provider API for reading
      Visio documents (.vsdx format)
    - <img src="word-logo.svg" width="28" height="28" alt="WordDataProvider app icon"/> @ref worddataproviderintro "WordDataProvider" a data provider API for reading and
      writing Word documents

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires jni @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Jni::org::qore::jni::JavaArray "JavaArray"|a convenience class for using Java Arrays in %Qore
    |@ref Jni::org::qore::jni::QoreInvocationHandler "QoreInvocationHandler"|a convenience class for executing \
        %Qore-language callbacks from Java

    Helper %Qore functions provided by this module:
    |!Function|!Description
    |@ref Jni::org::qore::jni::get_version() "get_version()"|Returns the version of the JNI API
    |@ref Jni::org::qore::jni::get_byte_code() "get_byte_code()"|Returns the dynamically generated Java byte code of \
        the given %Qore class
    |@ref Jni::org::qore::jni::implement_interface() "implement_interface()"|Creates a Java object that implements \
        given interface using an invocation handler
    |@ref Jni::org::qore::jni::invoke() "invoke()"|Invokes a method with the given arguments
    |@ref Jni::org::qore::jni::invoke_nonvirtual() "invoke_nonvirtual()"|Invokes a method with the given arguments \
        in a non-virtual way; meaning that even if the object provided is a child class, the method given in the \
        first argument is executed
    |@ref Jni::org::qore::jni::native_access_option_enabled() "native_access_option_enabled()"|Returns @ref True if \
        native access is enabled for unnamed modules when the JVM was initialized
    |@ref Jni::org::qore::jni::load_class() "load_class()"|Loads a Java class with given name and returns a \
        \c java::lang::Class object
    |@ref Jni::org::qore::jni::new_array() "new_array()"|Creates a @ref Jni::org::qore::jni::JavaArray "JavaArray" \
        object of the given type and size
    |@ref Jni::org::qore::jni::set_save_object_callback() "set_save_object_callback()"|Sets the object lifecycle \
        management callback; see @ref jni_qore_object_lifecycle_management for more information
    |@ref Jni::org::qore::jni::kotlin_eval() "kotlin_eval()"|Evaluates a Kotlin script at runtime and returns the \
        result; requires kotlin-scripting JARs
    |@ref Jni::org::qore::jni::kotlin_scripting_available() "kotlin_scripting_available()"|Returns @ref True if \
        Kotlin scripting is available (kotlin-scripting JARs are in the classpath)
    |@ref Jni::org::qore::jni::kotlin_scripting_retry() "kotlin_scripting_retry()"|Retries Kotlin scripting \
        initialization after loading additional JARs at runtime

    @section jni_examples Examples

    @subpage jni_examplesguide


    @section jniinit JVM Initialization

    @subpage jniinitguide


    @section jni_use_java_in_qore Using Java APIs in Qore

    @subpage jni_use_java_in_qoreguide


    @section jni_from_java Using the jni Module From Java

    @subpage jni_from_javaguide


    @section jni_compat JNI Module Compatibility Options

    @subpage jni_compatguide


    @section jni_types Type Conversions Between Qore and Java

    @subpage jni_typesguide


    @section jni_qore_object_lifecycle_management Managing the Lifecycle of Qore objects from Java

    @subpage jni_qore_object_lifecycle_managementguide


    @section jni_thread_stacks Java Thread Stack size

    @subpage jni_thread_stacksguide


    @section jdbc_driver jdbc DBI Driver for Qore

    @subpage jnijdbc_driverguide


    @section jnireleasenotes jni Module Release Notes

    @subpage jnireleasenotesguide



*/
